{% extends "registro/core.html" %}

{% block content %}
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Restablecer contraseña</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <p> Ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.</p>
        </div>
{% if validlink %}

<form method="POST">{% csrf_token %}
    <div class="form-group">
		<input style="display: none;" autocomplete="username" value="{{ form.user.username }}">

		<label for="id_new_password1">Nueva contraseña</label>
	    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
	</div>

	<div class="form-group">
		<label for="new_password2">Confirmar contraseña</label>
	    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
	</div>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
	
  <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar</button>  
</form>



{% else %}

<p>El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>

{% endif %}

        <div class="text-center">
          <a class="d-block small mt-3" href="#">Registrar una cuenta</a>
          <a class="d-block small" href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
